[submodule "themes/hello-gfalcon"]
	path = themes/hello-gfalcon
	url = https://github.com/oleksii-khalikov/hugo-theme-hello-gfalcon.git
[submodule "themes/hello-4s3ti"]
	path = themes/hello-4s3ti
	url = https://github.com/oleksii-khalikov/hugo-theme-hello-gfalcon.git
	branch = master-coolapso
